In [1]:
from bs4 import BeautifulSoup

In [2]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

import requests

In [3]:
link = 'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

source = requests.get(f'{link}').text

soup = BeautifulSoup(source, 'lxml')

In [4]:
table  = soup.find('table')

<h3>Get headers<h3>

In [5]:
header = table.tbody.tr.text
print(header)

Postcode
Borough
Neighbourhood

<h3>Get the data<h3>

In [6]:
data = []


rows = table.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

In [7]:
data_t = pd.DataFrame(data, columns = ['Postcode','Borough','Neighbourhood'])
data_t.dropna(axis=0, inplace=True)

data_t.head(10)

   Postcode           Borough     Neighbourhood
1       M1A      Not assigned      Not assigned
2       M2A      Not assigned      Not assigned
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Not assigned
10      M8A      Not assigned      Not assigned

<h3>Get rid of not assigned Boroughs<h3>

In [8]:
data_t = data_t[data_t.Borough != 'Not assigned']
data_t.head(10)

   Postcode           Borough     Neighbourhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Not assigned
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern

<h3>If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough<h3>

In [9]:
for index, row in data_t.iterrows():
    if row['Neighbourhood']=='Not assigned':
        row['Neighbourhood']=row['Borough']
data_t.head(10)

   Postcode           Borough     Neighbourhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Queen's Park
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern

<h3>Combine  rows with the equal neighborhoods <h3>
    <h4>let's  define a function (concatenate_neighbourhood) that takes a series of neighbourhood names and combines them properly with commas in between names.  select_Borough function  takes the list of Borough associated with a postcode and verified that the postcode is completely contained within the Borough<h4>

In [11]:
def concatenate_neighbourhood(x):
    cadena = ""
    for i in range(len(x)-1):
        cadena = cadena + x.iloc[i] + ", "
    cadena += x.iloc[-1]
    return cadena

def select_Borough(x):
    ref = x.iloc[0]
    for i in range(1, len(x)):
        if ref != x.iloc[i]:
            for i in x:
                print(x)
            raise Exception("Postcode comprises two Boroughs")
    return ref

<h3>Group by Postcode<h3>

In [12]:
data_fin = data_t.groupby(["Postcode"]).agg({"Borough": lambda x: select_Borough(x),
                                 "Neighbourhood": lambda x: concatenate_neighbourhood(x)})
data_fin.head(10)

              Borough                                    Neighbourhood
Postcode
M1B       Scarborough                                   Rouge, Malvern
M1C       Scarborough           Highland Creek, Rouge Hill, Port Union
M1E       Scarborough                Guildwood, Morningside, West Hill
M1G       Scarborough                                           Woburn
M1H       Scarborough                                        Cedarbrae
M1J       Scarborough                              Scarborough Village
M1K       Scarborough      East Birchmount Park, Ionview, Kennedy Park
M1L       Scarborough                  Clairlea, Golden Mile, Oakridge
M1M       Scarborough  Cliffcrest, Cliffside, Scarborough Village West
M1N       Scarborough                      Birch Cliff, Cliffside West

In [13]:
data_final=data_fin.reset_index()
data_final.head(20)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford
12      M1S  Scarborough                                          Agincourt
13      M1T  Scarborough            Clarks Corners, Sullivan, Tam O'Shanter
14      M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...
15      M1W  Scarborough                                    L'Amoreaux West
16      M1X  Scarborough                                        Upper Rouge
17      M2H   North York                                  Hillcrest Village
18      M2J   North York                       Fairview, Henry Farm, Oriole
19      M2K   North York                                    Bayview Village

<h3>Reset index to return Postcode column<h3>

<h3>Dataframe has 103 rows<h3>

In [15]:
data_final.shape

(103, 3)